---
import Layout from '../layouts/Layout.astro'
import Header from '../components/Header.astro'
import Hero from '../components/Hero.astro'
import Features from '../components/Features.astro'
import AnimalTypes from '../components/AnimalTypes.astro'
import HowItWorks from '../components/HowItWorks.astro'
import Benefits from '../components/Benefits.astro'
import FAQ from '../components/FAQ.astro'
import CTA from '../components/CTA.astro'
import Footer from '../components/Footer.astro'
---

<Layout
  title="Mi Granja - Software de Gestion Ganadera Gratuito | Control de Animales y Reproduccion"
  description="Software ganadero gratuito en espanol. Gestiona animales, reproduccion, salud, colaboradores y recordatorios desde cualquier dispositivo. Para vacas, ovejas, cabras, cerdos y mas."
>
  <Header />
  <main>
    <Hero />
    <Features />
    <AnimalTypes />
    <HowItWorks />
    <Benefits />
    <FAQ />
    <CTA />
  </main>
  <Footer />
</Layout>
